<div ng-controller="viewReceiptCtrl">
  <md-content layout-padding layout="row" ng-show="hideNoDataFound">
    <table style="width:80%;margin: 0px auto;" >
      <tr>
        <th>
          <md-button md-no-ink class="md-primary" ng-click="sortBy('date')">Date</md-button>
          <!-- <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span> -->
          <span flex></span><md-icon ng-class="{reverse: reverse}"><i class="material-icons">unfold_more</i></md-icon>
        </th>
        <th>
          <md-button md-no-link class="md-primary" ng-click="sortBy('studentName')">Student Name</md-button>
          <span flex></span><md-icon ng-class="{reverse: reverse}"><i class="material-icons">unfold_more</i></md-icon>
        </th>
        <th>
           <md-button md-no-link class="md-primary" ng-click="sortBy('amount')">Amout</md-button>
           <span flex></span><md-icon ng-class="{reverse: reverse}"><i class="material-icons">unfold_more</i></md-icon>
        </th>
        <th>
          <md-button md-no-link class="md-primary" ng-click="sortBy('class')">Class</md-button>
          <span flex></span><md-icon ng-class="{reverse: reverse}"><i class="material-icons">unfold_more</i></md-icon>
        </th>
        
        
        <th >Edit</th>
        <th >Delete</th>
      </tr>
      <tr ng-repeat="rc in receipt | filter:$ctrl.query | orderBy:propertyName:reverse">
        <td>{{ rc.date | date:"EEE,d/M/yy"  }}</td>
        <td>{{ rc.studentName }}</td>
       
        <td><span>Admission Fee:<b>{{ rc.admissionFee }}</b> | Tution Fee:<b>{{ rc.tutionFee }}</b> | Exam Fee:<b>{{ rc.examFee }}</b> | Other Fee:<b>{{ rc.otherFee }}</b></span></td>
        <td>{{ rc.class }}</td>
        
        <td><a href="#!/receipt/edit/{{rc.id}}"><md-tooltip md-direction="bottom">{{rc.studentName}} - CL-{{rc.class}}</md-tooltip><i class="material-icons">edit</i></a></td>
        <td ng-click="deleteReceipt($event,rc)"><md-tooltip md-direction="bottom">Delete ? {{rc.studentName}} </md-tooltip><i class="material-icons" style="color:red">delete</i></td>
      </tr>
    </table>
  </md-content>
</div> 