<div ng-controller="receiptCtrl">
	<form name="receiptForm" ng-init="thisFee=false">
   <md-content layout-padding layout="row">

    <md-input-container class="md-block" flex-xs>
      <label>Date</label>
      <md-datepicker name="date" ng-model="receipt.date" md-min-date="minDate" md-max-date="maxDate" md-open-on-focus required ng-required="true"></md-datepicker>
      <div ng-messages="receiptForm.date.$error" role="alert" multiple>
        <div ng-message="required" class="my-message">You must supply a date.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block" flex-xs>
      <label>Class</label>
      <md-icon><i class="material-icons">class</i></md-icon>
      <md-select name="class" type="text" ng-model="receipt.class" ng-required="true">
        <md-option><em>None</em></md-option>
        <md-option ng-repeat="cl in class" ng-value="cl">
          {{cl}}
        </md-option>
      </md-select>
      <div ng-messages="receiptForm.class.$error" role="alert" multiple>
        <div ng-message="required" class="my-message">You must supply class name.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block" flex-xs>
      <label>Student Name</label>
      <md-icon><i class="material-icons">person</i></md-icon>
    </md-input-container>

    <md-autocomplete class="pad" flex-xs  required
    md-no-cache="true" 
    md-input-name="name"
    md-input-minlength="4"
    md-input-maxlength="20"
    md-selected-item="student" 
    md-items="item in searchStudent(searchText)" 
    md-search-text="searchText" 
    md-item-text="item.name"
    md-require-match
    
    md-floating-label="Name">

  <md-item-template>
                  <span md-highlight-text="searchText">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                  No student found for "{{searchText}}".
                </md-not-found>
      <div ng-messages="receiptForm.studentName.$error" role="alert" ng-if="receiptForm.studentName.$touched">
      <div ng-message="required" class="my-message">You must supply a student name.</div>
      </div>

</md-autocomplete>

<!-- 
      <input name="studentName" type="text" ng-model="receipt.studentName" ng-required="true">
      <div ng-messages="receiptForm.studentName.$error" role="alert" ng-if="receiptForm.studentName.$touched">
        <div ng-message="required" class="my-message">You must supply a student name.</div>
      </div> -->

    </md-input-container>

  
  </md-content>

 <md-content layout-padding layout="row">
  <!-- <md-icon><i class="material-icons">money</i></md-icon> -->
  <div layout="row" layout-wrap flex>
    <div class="demo-select-all-checkboxes" ng-repeat="type in types">
      <md-input-container class="md-block" flex="10">
        <md-checkbox name="fee_type" ng-model="thisFee">
         {{ type }}
       </md-checkbox>
     </md-input-container>

     <md-input-container class="md-block" flex="33">
       <label>{{type}}</label>
       <input name="{{type}}_amount" ng-disabled="thisFee" type="text" > 
     </md-input-container>
   </div>
 </div>
</md-content>

<md-button class="md-raised md-primary" ng-disabled="receiptForm.$invalid" ng-click="submitReceipt(receipt)">Submit</md-button>
<md-button class="md-raised md-warn" ng-click="resetCustomer()">Reset</md-button>
</form>

</div>